*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: fantasy, sans-serif;
  font-weight: normal;
}

body {
  padding: 0;
  margin: 0;
  background: linear-gradient(to right, #730ea1, #f77016);
}

.calculator-grid {
  display: grid;
  grid-template-columns: repeat(4, 80px);
  grid-template-rows: minmax(100px, auto) repeat(5, 80px);
  justify-content: center;
  /* align-items: center; */
  align-content: center;
  min-height: 100vh;
}

.calculator-grid > button {
  cursor: pointer;
  outline: none;
  font-size: 2rem;
  border: 1px solid white;
  background-color: rgba(255, 255, 255, 0.75);
  transition: background-color 0.5s ease;
}

.calculator-grid > button:hover {
  color: white;
  background-color: rgba(182, 56, 7, 0.75);
}

.span-2 {
    grid-column: span 2;
}

.display {
    grid-column: 1 / -1;
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
}

.display .display-previous {
    color: rgba(255, 255, 255, 0.75);
    font-size: 1.5rem;
}

.display .display-current {
    color: white;
    font-size: 2.5rem;
}