* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100vh;
    background: #409ae8;
    background: linear-gradient(to right, #409ae8 0%, #1bd65d 100%);
    font-family: fantasy;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: #c6f1e4;
    width: 300px;
    min-height: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.display {
    background-color: rgb(22, 22, 22);
    color: floralwhite;
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: right;
}

.display-top, .display-main {
    width: 100%;
    padding: 0 10px;
    line-height: 45px;
    font-weight: 500;
    font-size: 1.3rem;
    word-wrap: none;
    word-break: keep-all;
    overflow: hidden;
}

.display-main {
    font-size: 2rem;
    flex-grow: 2;
}

.grow {
    flex-basis: 145px;
}

button {
    margin: 1px;
    width: 70px;
    height: 70px;
    background-color: rgba(144, 224, 238, 0.637);
    border: none;
    flex-grow: 1;
    font-size: 1em;
    cursor: pointer;
}

button:hover {
    background-color: #c6f1e4;
}